
$color-primary: #FB0F00;
$color-secondary: #0BB5B2;
$color-white: #ffffff;
$color-grey-light: #EAEAEC;
$color-dark: #282c34;
$color-darkest: #000000;

// gradient
$gradient-default: linear-gradient(rgba($color-dark, .8), rgba($color-dark, .8));